<div id="appWrapper">
  <mat-stepper orientation="vertical" [linear]="true" #stepper>
    <mat-step>
      <app-category-selector
        (categorySelected)="onCategorySelected($event)"
      ></app-category-selector>
    </mat-step>
    <mat-step>
      <app-subcategory-selector
        [selectedCategoryId]="selectedCategory?.id"
        (subcategorySelected)="onSubcategorySelected($event)"
      >
      </app-subcategory-selector>
    </mat-step>
    <mat-step>
      <app-manifestation-selector
        *ngIf="selectedSubcategory"
        [selectedSubcategory]="selectedSubcategory"
        (manifestationSelected)="onManifestationSelected($event)"
      >
      </app-manifestation-selector>
    </mat-step>
  </mat-stepper>
</div>