<ng-container *ngIf="selectedSubcategoryId">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search for or define new manifestations</mat-label>
    <textarea matInput (keyup.enter)="addManifestation($event)"></textarea>
  </mat-form-field>
  <div id="manifestationSelectorWrapper">
    <div *ngFor="let manifestation of manifestations" class="manifestation" [ngClass]="{ 'selected': manifestation.selected }" (click)="onManifestationSelected(manifestation)">
      <p>{{ manifestation.description }}</p>
      <mat-icon style="color:lightgray" *ngIf="!manifestation.selected">close</mat-icon>
      <mat-icon *ngIf="manifestation.selected">check</mat-icon>
      <div class="closeButton" (click)="onDeleteManifestation(manifestation)"></div>
    </div>
  </div>
</ng-container>