<ng-container *ngIf="selectedSubcategory">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search for or define new manifestations</mat-label>
    <textarea matInput (keyup.enter)="addManifestation($event)"></textarea>
  </mat-form-field>
  <mat-selection-list #manifestations>
    <mat-list-option *ngFor="let manifestation of manifestations$ | async" (click)="onManifestationSelected(manifestation)">
      {{ manifestation.description }}
    </mat-list-option>
  </mat-selection-list>
</ng-container>