#subcategorySelectorWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .subcategoryOption {
    display: flex;
    align-items: center;
    width: 50%;
    height: 80px;
    cursor: pointer;

    &:hover {
      background-color: rgb(219, 219, 219);
    }

    h2 {
      font-weight: bold;
      font-size: 2em;
      color: grey;
      margin: 4px;
    }
  }
}